.vbox-button {
    -fx-background-color: transparent;
}

.vbox-button-active {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.vbox-button-active:disabled {
    -fx-opacity: 1.0;
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.info-box {
    -fx-background-color: white;
    -fx-border-color: #203A74;
    -fx-border-width: 2;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
}

.info-box-title {
    -fx-text-fill: #203A74;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 10 0;
    -fx-border-color: transparent transparent #f1c350 transparent;
    -fx-border-width: 0 0 3 0;
}

.info-label {
    -fx-font-size: 20px;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
}

.info-value {
    -fx-font-size: 20px;
    -fx-font-weight: normal;
    -fx-text-fill: #000000;
}